.footer--section--container {
    display: grid;
    grid-template-areas: 
      "left right";
    grid-template-columns: 1fr auto; /* 右侧列使用auto，根据内容调整宽度 */
    padding: 50px 200px;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
}

.footer--section--left {
    grid-area: left;
    font-size: 36px;
}

.footer--section--right {
    margin-right: 50px;
    grid-area: right;
}

.footer--section--left > a {
    color: brown;
}

.footer--section--right > ul{
    list-style: none;
}

.footer--section--right > ul > li{
    margin-bottom: 20px;
}